- @projects.each do |project|
  %h3= project.name
  %b Цель - #{project.purpose}.
  %br
  %b Тип проекта - #{project.kind_text}.
  %br
  %br
  %b Обязательные мероприятия:
  %br
  Длительность спринта - 2 недели. Конец спринта - четверг.
  %ul
    %li Обзор спринта (1 раз в спринт, ЧТ). Основная задача обзора спринта — получить обратную связь по реализованному функционалу
    %li Ретроспектива (1 раз в спринт, ЧТ). Анализ предыдущего спринта с целью выявить проблемы и найти их решения, а также закрепить процессы, которые хорошо сработали.
    %li Планирование (1 раз в спринт, ЧТ)
    %li Уточнение Бэклога Продукта (груминг) (1 раз в 2 спринта)
    %li Daily. Проводится ежедневно, кроме пятницы. Проводим в zoom.

  %b План работ и контрольные точки:
  %br
  Этап 1. Проектирование. Результат - интерактивный прототип адаптации ИТ-специалистов согласован с владельцем процесса. Срок окончания - 01.01.2022 года.
  %br
  Этап 2. Разработка. Результат - интерактивный прототип адаптации ИТ-специалистов разработан и выгружен на тестовую площадку. Срок окончания - 01.02.2022 года.
  %br
  Этап 3. Тестирование и отладка. Результат - интерактивный прототип адаптации ИТ-специалистов работает согласно протоколу тестирования. Отладочные работы выполнены. Срок окончания - 01.03.2022 года.
  %br
  Этап 4. Внедрение. Результат - интерактивный прототип адаптации ИТ-специалистов запущен для всех специалистов Банка. Срок окончания - 01.04.2022 года.

  %br
  %br
  %b Результат проекта - #{project.purpose}.
  %br
  %br
  %b Организационная структура проекта
  %ul
    %li Руководитель проекта
    %li Технический руководитель проекта
    %li Администратор проекта
    %li Команда разработки и тестирования (2 проектировщика, 6 разработчиков PHP, 1 разработчик SAP PO, 1 разработчик SAP HR, 2 тестировщика)
    %li Команда внедрения (1 технолог, 1 релиз-менеджер)
    %li Команда сопровождения (2 сотрудника 2-й линии поддержки)

