.form-container.form-container--signup
  .panel
    .panel__inner
      %p.panel__title
        Авторизация
      %form.form{:action => "/session", method: :post}
        .input-wrap
          %input{:name => "employee[email]", :placeholder => "Логин", :type => "text"}/
        .input-wrap
          %input{:name => "employee[password]", :placeholder => "Пароль", :type => "password"}/
        .form__btns.form__btns--center
          %button.btn.btn--primary{:type => "submit"} Войти
  %span.symbol-icon
    = image_tag "rabbit1.svg"

%h1 Правила

%b 1. Широта взглядов
%br
%b Смотрю шире на свои задачи и помогаю Банку меняться
%br
%b Как поступаю:
%ul
  %li Своими действиями помогаю Банку выполнить стратегические задачи оборонной отрасли и усилить конкурентные преимущества на рынке
  %li Понимаю и горжусь, что работаю для поддержания экономической безопасности страны
  %li Расставляю приоритеты в своей работе, тщательно взвешиваю риски, оцениваю последствия
  %li Изучаю тренды индустрии, рынка и технологий, исследую ожидания клиентов, чтобы найти новые решения для своей работы

%b 2. Личная ответственность
%br
%b Отвечаю за свои действия и решения
%br
%b Как поступаю:
%ul
  %li Держу слово, данное коллегам и клиентам
  %li Оцениваю результат своей работы по тому, насколько он помогает достигать целей Банка
  %li Постоянно наращиваю профессиональные знания, компетенции и навыки
  %li Заряжаю энергией коллег и клиентов, создаю атмосферу, способствующую развитию организации

%b 3. Единая команда
%br
%b Сотрудничаем для решения общих задач
%br
%b Как поступаю:
%ul
  %li Договариваюсь с коллегами, всегда готов к открытому конструктивному диалогу и взаимопомощи
  %li Считаю своей командой не только свое структурное подразделение, но и весь Банк
  %li Вместе с коллегами отвечаю за успехи и неудачи, отмечаю вклад каждого
  %li Не допускаю дискриминации по признакам пола, возраста, национальности, вероисповедания, убеждений, социального положения, образования, трудового стажа, занимаемой должности, а также по иным признакам
