.form-container.form-container--signup
  .panel
    .panel__inner
      %p.panel__title
        Авторизация
      %form.form{:action => "/session", method: :post}
        .input-wrap
          %input{:name => "employee[email]", :placeholder => "Логин", :type => "text"}/
        .input-wrap
          %input{:name => "employee[password]", :placeholder => "Пароль", :type => "password"}/
        .form__btns.form__btns--center
          %button.btn.btn--primary{:type => "submit"} Войти
  %span.symbol-icon
    = image_tag "rabbit1.svg"
