%h2 О банке
%br
ПСБ — универсальный банк, основанный в 1995 году. Входит в десятку крупнейших банков России и в список системно значимых кредитных организаций, утвержденный Центробанком. В конце декабря 2019 года ПСБ был законодательно присвоен статус опорного банка для оборонно-промышленного комплекса (ОПК). Услугами банка пользуются 2,5 миллиона физических и свыше 200 тысяч юридических лиц, в том числе более 10 тысяч крупных корпоративных клиентов. Сеть банка насчитывает около 300 точек продаж в России.
%br
%br
Промсвязьбанк выбран в качестве опорного банка для реализации государственного оборонного заказа и сопровождения крупных государственных контрактов, оказывает полный спектр услуг розничным и корпоративным клиентам, малому и среднему бизнесу.
%br
%br
Промсвязьбанк — универсальный банк, основными направлениями деятельности которого являются:
%br
%br
— Банковские услуги корпоративным клиентам: в том числе кредитование, расчетные операции, факторинг, документарные операции, финансирование с участием ЭКА, проектное финансирование, управление потоками денежных средств и платежами, брокерские услуги на валютных рынках и рынках ценных бумаг, прием депозитов;
%br
%br
— Банковское обслуживание малого и среднего бизнеса: в том числе коммерческое кредитование, прием депозитов, расчетно-кассовое обслуживание, включая выдачу векселей, денежные переводы, предоставление гарантий, а также брокерские услуги на валютных рынках и рынках ценных бумаг;
%br
%br
— Розничные банковские услуги частным лицам: в том числе розничное кредитование и прием депозитов у физических лиц (текущие счета и срочные вклады), денежные переводы, выпуск банковских карт, расчетно-кассовое обслуживание и валютные операции, управление денежными средствами через удаленные каналы обслуживания  банковское обслуживание клиентов премиального сегмента (программа Orange Premium Club);
%br
%br
— Инвестиционно-банковские и финансовые услуги: сделки на рынках заемного капитала, в том числе их организация, андеррайтинг муниципальных и корпоративных облигаций (таких как местные рублевые облигации, Евробонды, кредитные ноты и векселя), торговля акциями и инструментами с фиксированной доходностью, услуги по корпоративному финансовому консультированию, брокерские услуги, сделки РЕПО, операции с драгоценными металлами, управление активами и частное банковское обслуживание состоятельных клиентов (private banking);
%br
%br
Региональная сеть ПСБ насчитывает около 300 офисов, порядка 8 тыс. банкоматов (включая банкоматы банков-партнеров) и более 200 терминалов самообслуживания по всей России.
