!!!
%html
  %head
    %title Админка
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    = stylesheet_link_tag 'admin_application', media: 'all'
    = javascript_include_tag 'admin_application'
  %body
    = render "layouts/web/admin/header"
    %br
    .container-fluid.page-wrapper
      = yield
